
<router-outlet></router-outlet>
<div class="parent">
  <div class="child one">One</div>
  <div class="child two">Two</div>
  <div class="child three">Three</div>
  <div class="child four">Four</div>

</div> 
<app-child-share-data  ></app-child-share-data>
<!-- //app-product-list is parent component -->
<app-product-list></app-product-list>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<h1>{{title}}</h1> 
LEARN THE COURSE <b>{{course}}</b>
regularly.
2*2 = {{2*2}};
<h4>Data binding </h4>
<app-cockpit></app-cockpit>
<app-server-element></app-server-element>
<!-- <alert type="success">hello</alert> -->
<button type="button" class="btn">Base class</button>
<table class="table">
  <thead>
    <td>Name</td>
    <td>Age</td>
    <td>Email</td>
  </thead>
  <tbody>
    <td>
      Anoj
    </td>
    <td>34</td>
    <td>anoj@mp.com</td>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>



